body {
  font-family: arial;
  background-color: #b0c4de;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 22px;
}

a {
  color: #2f435e;
}

a:visited {
  color: #8a916c
}

h2, h3 {
  color: #362f78;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
  color: #874B6A;
}

h4 {
  font-size: 18px;
  color: #874B6A;
  font-style: italic;
}

h5 {
  font-size: 16px;
  color: #3C4856;
  font-style: italic
}

ul {
  font-size: 16px;
  margin: 30px auto;
}

#mainArea .description {
    float: right;
    width: 75%;
